.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    height: 40px; 
    width: 300px;
    margin: 5px 0;
    font-size: 25px;
    background-color: white;
}

.controls img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%; 
}

.controls img:hover {
    box-shadow: 2px 2px 15px white;
}

button:hover {
    box-shadow: 2px 2px 15px white;
}

.popout {
    position: relative;
    display: flex;
    flex-direction: column;
}
    
.menu {
    display: none;
    position: absolute;
    width: 200px;
    margin: 0 50px;
    color: white;
    background-color: black;
    border: 1px solid grey;
}

.controls p {
    margin: 10px 0;
    padding: 10px 0;
}

.controls p:hover {
    box-shadow: 2px 2px 15px white;
}

.popout:hover .menu {
    display: block;
}