.game {
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.main {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}

@media (max-width: 600px) {
    .top {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
} 