.game {
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
}