.grid {
    margin: 0 5%;
    line-height: 0;
}

@media (max-width: 600px) {
    .grid {
        margin: 0;
    }
} 

.small {
    width: 160px;
}

.regular {
    width: 400px;
}

.large {
    width: 630px;
}