@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Niconne&display=swap');
body {
    height: 700px;
    width: 100%;
    margin: 0;
    font-family: 'Knewave';
    font-size: 20px;
  }

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: black; 
}
   
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 1em; 
    transition-duration: 1s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: white; 
    transition-duration: 1s;
} 