.presets {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 500px;
    height: 450px;
    margin: 5%;
    color: white;
    background-color: black;
}

@media (max-width: 600px) {
    .presets {
        width: 100%;
        margin: 0;
    }
} 

h3 {
    text-align: center;
}

.preset {
    display: flex;
    width: 50%;
    padding: 15px;
    font-size: 20px;
    line-height: 2; 
}

.preset img {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    border-radius: 50%;
}

.preset:hover {
    box-shadow: 2px 2px 15px white;
}